@charset "UTF-8";

.ladder{
	
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 30px solid #ccc;
	width: 90px;
	
	display: inline-block;
	margin-right: -60px;
	z-index: -1;
	font-weight: bold;
	vertical-align: middle;
}
.ladder_selected{
	/*z-index只能在position
	属性值为relative或absolute或fixed的元素上有效!
	非常关键.
	*/
	position:relative;
	z-index: 0;
	border-bottom-color: RGB(137,157,192);
	color: white;
}
.ladder:hover{
	cursor: pointer;
}
.position_center{
	position: absolute;
	transform: translateY(40%);
}

.ladder2{
	position:relative;/* *  */
	display:inline-block;
	padding: .3em 1em 0;
	/* z-index:1; */
}
.ladder2::before{
	content: ' ';/* *  */
    position: absolute;/* *  */
    top:0;right:0;bottom:0;left:0;
    z-index:-1;
    background:#ccc;
    background-image:linear-gradient(hsla(0,0%,100%,.6),
        hsla(0,0%,100%,0));
    border: 1px solid rgba(0,0,0,.4);
    border-bottom:none;
    border-radius:.5em .5em 0 0;
    box-shadow:0 .15em white inset;
    transform: perspective(.5em) rotateX(5deg);/* *  */
    transform-origin:bottom; 
    background-color:green;/* *  */
}

.tixing{
    position:relative;
    display:inline-block;
    z-index:1;
}
.tixing::before{
    content:' ';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    background:#E64A19;
    transform: perspective(.5em) rotateX(5deg);
}


nav>a{
    position:relative;
    display: inline-block;
    padding: .3em 1em 0;
    color:black;
}
nav>a::before{
    content: ' ';
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index:-1;
    background:#ccc;
    background-image:linear-gradient(hsla(0,0%,100%,.6),
        hsla(0,0%,100%,0));
    border: 1px solid rgba(0,0,0,.4);
    border-bottom:none;
    border-radius:.5em .5em 0 0;
    box-shadow:0 .15em white inset;
    transform: perspective(.5em) rotateX(5deg);
    transform-origin:bottom; 
}
