@charset "UTF-8";

.searchIcon {
	position: absolute;
	height: 12px;
	width: 12px;
	background: transparent;
	border: 3px solid #43b3e7;
	/*  left: 10px; */
	/*  top: 8px; */
	right:5px;
	border-radius: 100%;
}

.searchIcon:after {
	content: "";
	position: absolute;
	background: #43b3e7;
	height: 6px;
	width: 3px;
	bottom: -5px;
	right: -3px;
	transform: rotate(-45deg);
}

.searchIcon:hover {
	cursor: pointer;
	border-color: blue;
}
.searchIcon:hover:after{
	cursor: pointer;
	background-color : blue;
}


