<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Spring Boot</title>
<!-- Load c3.css -->
<link href="3rdFrwk/charts/c3/c3.css" rel="stylesheet">
</head>
<body>
	<h1 style="color: green" th:text="${hellos}"></h1>

	<div id="c3_chart"></div>

	<div id="echart_chart" style="width: 100%; height: 400px;"></div>




	<script type="text/javascript" src="3rdFrwk/jquery/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="3rdFrwk/charts/echarts/echarts4.js"></script>


	<!-- Load d3.js and c3.js -->
	<script src="3rdFrwk/charts/d3/d3.js" charset="utf-8"></script>
	<script src="3rdFrwk/charts/c3/c3.js"></script>


	<script type="text/javascript">
	

	
	
		$(()=>{
			
			var chart = c3.generate({
			    bindto: '#c3_chart',
			    data: {
			      columns: [
			        ['data1', 30, 200, 100, 400, 150, 250],
			        ['data2', 50, 20, 10, 40, 15, 25]
			      ],
			      type:'bar',
			    },
			    
			});
			
			
			var dataCount = 5e5;
			var data = generateData(dataCount);

			var option = {
			    title: {
			        text: echarts.format.addCommas(dataCount) + ' Data',
			        left: 10
			    },
			    toolbox: {
			        feature: {
			            dataZoom: {
			                yAxisIndex: false
			            },
			            saveAsImage: {
			                pixelRatio: 2
			            }
			        }
			    },
			    tooltip: {
			        trigger: 'axis',
			        axisPointer: {
			            type: 'shadow'
			        }
			    },
			    grid: {
			        bottom: 90
			    },
			    dataZoom: [{
			        type: 'inside'
			    }, {
			        type: 'slider'
			    }],
			    xAxis: {
			        data: data.categoryData,
			        silent: false,
			        splitLine: {
			            show: false
			        },
			        splitArea: {
			            show: false
			        }
			    },
			    yAxis: {
			        splitArea: {
			            show: false
			        }
			    },
			    series: [{
			        type: 'bar',
			        data: data.valueData,
			        // Set `large` for large data amount
			        large: true
			    }]
			};
			function generateData(count) {
			    var baseValue = Math.random() * 1000;
			    var time = +new Date(2011, 0, 1);
			    var smallBaseValue;

			    function next(idx) {
			        smallBaseValue = idx % 30 === 0
			            ? Math.random() * 700
			            : (smallBaseValue + Math.random() * 500 - 250);
			        baseValue += Math.random() * 20 - 10;
			        return Math.max(
			            0,
			            Math.round(baseValue + smallBaseValue) + 3000
			        );
			    }

			    var categoryData = [];
			    var valueData = [];

			    for (var i = 0; i < count; i++) {
			        categoryData.push(echarts.format.formatTime('yyyy-MM-dd\nhh:mm:ss', time));
			        valueData.push(next(i).toFixed(2));
			        time += 1000;
			    }

			    return {
			        categoryData: categoryData,
			        valueData: valueData
			    };
			}
			
		      // 基于准备好的dom，初始化echarts实例
	        var myChart = echarts.init(document.getElementById('echart_chart'));
	     // 使用刚指定的配置项和数据显示图表。
	        myChart.setOption(option);
			
		});
	
	</script>
</body>
</html>